{% extends 'base.html' %} {% load static %} {% block head %}
<link rel="stylesheet" href="{% static 'css/authors/author-detail.css' %}" />
{% endblock %} {% block content %}
<section class="cat-container">
  <div class="cat-img">
    <img src="{% static 'images/sk8r-boi-cat.svg' %}" alt="A skater boy cat" />
  </div>
  <div class="cat-details">
    <h1>{{ author.name }}</h1>
    <h2>DOB: {{ author.date_of_birth }}</h2>
    <h2>Nationality: {{ author.nationality }}</h2>
  </div>
  <div class="cat-actions">
    <a href="{% url 'author-update' author.id %}" class="btn warn">Edit</a>
    <a href="{% url 'author-delete' author.id %}" class="btn danger">Delete</a>
  </div>
</section>

<div class="feedings-toy-container">
  <section class="feedings">
    <div class="subsection-title">
      <h2>Books</h2>
      <img src="{% static 'images/cat-cone.svg' %}" alt="An ice cream cone cat" />
      <img src="{% static 'images/cat-onigiri.svg' %}" alt="A cat as onigiri" />
      <img src="{% static 'images/kitty-kabob.svg' %}" alt="A kabob of kittens" />
    </div>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Genre</th>
          <th>Publication Date</th>
        </tr>
      </thead>
      <tbody>
        {% for book in author.book_set.all %}
        <tr>
          <td>{{book.title}}</td>
          <td>{{book.genre}}</td>
          <td>{{book.publication_date}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</div>

{% endblock %}
